.el-main {
  box-sizing: border-box;
  padding: 10px 12px;
  overflow-x: hidden;
  background-color: var(--el-bg-color-page);
}
.el-footer {
  height: auto;
  padding: 0;
}

#subapp-viewport {
  height: 100%;
}
div[data-name="vite"] {
  height: 100%;
}
div[data-qiankun-vite] {
  height: 100%;
}
