@font-face {
  font-family: "iconfont"; /* Project id 4279681 */
  src: url('//at.alicdn.com/t/c/font_4279681_7upqx1i48d8.woff2?t=1696907992967') format('woff2'),
       url('//at.alicdn.com/t/c/font_4279681_7upqx1i48d8.woff?t=1696907992967') format('woff'),
       url('//at.alicdn.com/t/c/font_4279681_7upqx1i48d8.ttf?t=1696907992967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RectangleCopy:before {
  content: "\e6a2";
}

.icon-RectangleCopy1:before {
  content: "\e6a3";
}

.icon-RectangleCopy2:before {
  content: "\e6a7";
}

.icon-RectangleCopy3:before {
  content: "\e6a8";
}

.icon-RectangleCopy4:before {
  content: "\e6a9";
}

.icon-RectangleCopy5:before {
  content: "\e6aa";
}

.icon-RectangleCopy6:before {
  content: "\e6ab";
}

.icon-RectangleCopy7:before {
  content: "\e6ac";
}

.icon-RectangleCopy8:before {
  content: "\e6ad";
}

.icon-RectangleCopy9:before {
  content: "\e6ae";
}

.icon-RectangleCopy10:before {
  content: "\e6af";
}

.icon-RectangleCopy11:before {
  content: "\e6b0";
}

.icon-RectangleCopy12:before {
  content: "\e6b1";
}

.icon-RectangleCopy13:before {
  content: "\e6b2";
}

.icon-RectangleCopy14:before {
  content: "\e6b3";
}

.icon-RectangleCopy15:before {
  content: "\e6b4";
}

.icon-RectangleCopy16:before {
  content: "\e6b5";
}

.icon-RectangleCopy17:before {
  content: "\e6b8";
}

.icon-RectangleCopy18:before {
  content: "\e6c2";
}

.icon-RectangleCopy19:before {
  content: "\e6c5";
}

.icon-RectangleCopy20:before {
  content: "\e6c9";
}

.icon-RectangleCopy21:before {
  content: "\e6ca";
}

.icon-RectangleCopy22:before {
  content: "\e6cb";
}

.icon-RectangleCopy23:before {
  content: "\e6ce";
}

.icon-RectangleCopy24:before {
  content: "\e6d1";
}

.icon-RectangleCopy25:before {
  content: "\e6d2";
}

.icon-RectangleCopy26:before {
  content: "\e6d3";
}

.icon-RectangleCopy27:before {
  content: "\e6d4";
}

.icon-RectangleCopy28:before {
  content: "\e6d5";
}

.icon-RectangleCopy29:before {
  content: "\e6d6";
}

.icon-RectangleCopy30:before {
  content: "\e6d7";
}

.icon-RectangleCopy31:before {
  content: "\e6d8";
}

.icon-RectangleCopy32:before {
  content: "\e6d9";
}

.icon-RectangleCopy33:before {
  content: "\e6da";
}

.icon-RectangleCopy34:before {
  content: "\e6db";
}

.icon-RectangleCopy35:before {
  content: "\e6dc";
}

.icon-RectangleCopy36:before {
  content: "\e6dd";
}

.icon-RectangleCopy37:before {
  content: "\e6de";
}

.icon-RectangleCopy38:before {
  content: "\e6df";
}

.icon-RectangleCopy39:before {
  content: "\e6e0";
}

.icon-RectangleCopy40:before {
  content: "\e6e6";
}

.icon-RectangleCopy41:before {
  content: "\e6e7";
}

.icon-RectangleCopy42:before {
  content: "\e6e8";
}

.icon-RectangleCopy43:before {
  content: "\e6e9";
}

.icon-RectangleCopy44:before {
  content: "\e6ea";
}

.icon-RectangleCopy45:before {
  content: "\e6eb";
}
