/* global css variable */
$primary-color: var(--el-color-primary);

/* el-menu */
$el-menu-radius:6px;
$el-sider-padding:8px;
$el-menu-hoverBg: #e8e8e8;
$el-menu-height: 48px;
$el-menu-collapse-height:56px
